<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <style>
        body {
            background: #AAA;
        }

        h1 {
            color: #fed339;
            font-size: 40px;
        }

        p {
            font-size: 20px;
            color: #183052
        }

        h3 {
            color: #183052
        }
        h2{
            color: #183052
        }

    </style>
</head>
<body>
<h1 align="center">World Restaurant</h1>
<h2>Hola {{ name }} {{ lastname }} gracias por tu compra!</h2>
<p>"Una comida bien preparada tiene sabores delicados que hay que retener en la boca para apreciarlos" - Tennessee Williams</p>
<h3>Facturado a: {{ mail }}</h3>
<h3>Dirección de envio: {{ address }}</h3>
<h3>Tu comida llegra pronto a tu lugar de destino...</h3>
</body>
</html>