{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/dish.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">

    <title>World Restaurants</title>

</head>
<body>
<header>
    <div class="contenedor">
        <a class="logo" href={% url 'WorldRestaurant' %} alig="center">World <i class="fas fa-utensils"></i> Restaurants
        </a>
        <div class="search">
            <form action="{% url 'search_dish' %}" method="post">{% csrf_token %}
                <input type="text" placeholder="Plato..." name="search">
                <button type="submit" class="btn"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <nav>
            <a href={% url 'WorldRestaurant' %}>Inicio</a>
            <a href={% url 'restaurants' %}>Restaurantes</a>
            <a href={% url 'dish' %} class="activo">Platos</a>
            {% if user.is_authenticated %}
                <div class="user">
                    <a herf="#" class="usuario"><i class="fas fa-user"></i> {{ user.username }}<i
                            class="fas fa-angle-right"></i></a>
                    <ul class="submenu">
                        <li><a href={% url 'logout' %}>cerrar sesion<i class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                </div>
            {% else %}
                <div class="log">
                    <a href={% url 'login' %} class="iniciarSesion">Iniciar sesión</a>
                </div>
            {% endif %}
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </nav>
    </div>
</header>
<main>
    {% for item in dish %}
        <div class="info">
            <div class="restaurant">
                <div class="contenedor">
                    <img src="{{ item.restaurant_id.image }}">
                    <div class="titleR">
                        <h1 align="center">{{ item.restaurant_id.name }}</h1>
                    </div>
                    <div class="commit">
                        <p><i class="fas fa-map-marker-alt"></i> {{ item.restaurant_id.direction }}</p>
                        <p><i class="fas fa-phone-alt"></i> {{ item.restaurant_id.phone }}</p>
                        <p><i class="fas fa-building"></i> {{ item.restaurant_id.city }}</p>
                        <p><i class="fas fa-globe-americas"></i> {{ item.restaurant_id.country }}</p>
                        <a href={{ item.restaurant_id.website }}><i class="fas fa-laptop"></i> Página Web</a>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="title">
                <div class="contenedor">
                    <h3>Explora nuestros platos</h3>
                    <div class="boton">
                        {% if perms.restaurant.add_dish %}
                            <a href={% url 'create_dish' %} class="Create">Crear Platos</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="dish">
                <div class="contenedor">

                    <div class="card">
                        <img src="{{ item.image }}">
                        {% if perms.restaurant.delete_dish %}
                            <a class="delete" href={% url 'delete_dish' item.id %}><i
                                    class="fas fa-minus-circle"></i></a>
                        {% endif %}
                        <div class="contenido">
                            {% if perms.restaurant.change_dish %}
                                <a class="edit" href={% url 'update_dish' item.id %}>Editar<i
                                        class="fas fa-edit"></i>
                                </a>
                            {% endif %}
                            <h1>{{ item.name }}</h1>
                            <p>{{ item.description }}</p>
                            <p>Precio: ${{ item.price }}</p>
                        </div>
                        <div class="carrito">
                            <div class="addCarrito">
                                <a href={% url 'add_car' item.id %}>Añadir al carrito</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="line"></div>
            </div>
        </div>
    {% endfor %}

</main>
<footer id="contacto">
    <div class="contenedor">
        <div class="piePagina">
            <div class="contactoP">
                <h2 class="name">Juan Pablo Robles Arias</h2>
                <p>Construcción de Software</p>
            </div>
            <div class="RedesSociales">
                <a href="https://www.instagram.com/juanrobles_21/"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.link/kel6ey"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/juan.pablo.robles.arias.21/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
        <div class="line"></div>

    </div>

</footer>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>